<p id="notice"><%= notice %></p>

<h1>Passages</h1>

<table>
  <thead>
    <tr>
      <th>Passage</th>
      <th>Context</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @passages.each do |passage| %>
      <tr>
        <td><%= passage.passage %></td>
        <td><%= passage.context %></td>
        <td><%= link_to 'Show', passage %></td>
        <td><%= link_to 'Edit', edit_passage_path(passage) %></td>
        <td><%= link_to 'Destroy', passage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Passage', new_passage_path %>
